@import 'reset.css';

#header {
    height: 80px;
    background-color: rgb(105, 105, 105);
}

#main {
    flex: auto;
}

.container {
    margin: 0 auto;
    width: 98%;
    height: 95%;
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
    transform: translateX(0) !important;
    transition: all 0.5s ease-in-out !important;
}

.btn_naive {
    all: unset;
    float: right;
    font-size: 20px;
    margin-left: 10px;
    transform: translateY(-6px);
}

.btn_naive:hover {
    cursor: pointer;
    color: rgb(201, 201, 201);
    /* font-weight: bold; */
}

.block {
    display: block;
}

.btn_complete {
    color: #fff;
    background-color: #2ea44f;
    border-color: rgba(27, 31, 35, 0.15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1),
        inset 0 1px 0 hsla(0, 0%, 100%, 0.03);
    padding: 5px 16px;
    border: 1px solid;
    border-radius: 6px;
    margin: 10px 0;
    font-weight: bold;
}

.btn_complete:hover {
    background-color: #288d44;
}

/* 모달 */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.modal_overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal_content {
    position: relative;
    border-radius: 10px;
    background-color: #ffffff;
    width: 30%;
    height: fit-content;
    max-height: 400px;
    overflow-y: auto;
    /* padding: 15px 15px; */
    animation: modalShowUp 0.5s ease-in-out;
}

@keyframes modalShowUp {
    from {
        opacity: 0;
        transform: translateY(400px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.modal_head {
    padding: 15px 5%;
    background-color: rgb(230, 230, 230);
}

.modal_h2text {
    font-weight: 500;
    display: inline;
}

.modal_body {
    padding: 15px 5%;
}

.modal_input {
    display: block;
    width: 95%;
    border: 1px solid #ececec;
    background-color: rgb(230, 230, 230);
    border-radius: 6px;
    margin: 10px 0;
    padding: 5px 12px;
}

.modal_input:focus {
    background-color: #fff;
    box-shadow: 0 0 5px #003cff62;
    outline: none;
}

.modal_textarea {
    display: block;
    width: 95%;
    height: 200px;
    border: 1px solid #ececec;
    background-color: rgb(230, 230, 230);
    border-radius: 6px;
    margin: 10px 0;
    padding: 5px 12px;
}

.modal_textarea:focus {
    background-color: #fff;
    box-shadow: 0 0 5px #003cff62;
    outline: none;
}

/* header */
.header_title {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
}

.header_title h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.header_nav {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

#btn_menu {
    all: unset;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}

#btn_menu:hover {
    cursor: pointer;
    color: rgb(255, 255, 0);
}

.menu_layer {
    transform: translateX(400px);
    transition: all 0.5s ease-in-out;
    position: fixed;
    top: 80px;
    right: 0;
    width: 360px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #e4e4e4;

    height: 95%; /* 구식 브라우저를 위한 대비책(fallback) */
    height: -webkit-calc(100% - 80px); /* for Chrome, Safari */
    height: -moz-calc(100% - 80px); /* for Firefox */
    height: calc(100% - 80px); /* for IE */
}

.menu_title {
    position: relative;
    padding: 10px;
    background-color: rgb(212, 212, 212);
}

.menu_title h2 {
    font-weight: bold;
}

.menu_title button {
    all: unset;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    top: 4px;
    right: 20px;
}

.menu_title button:hover {
    cursor: pointer;
    color: #b4b4b4;
}

.menu_list li {
    padding: 10px;
    border-bottom: 1px solid #e4e4e4;
}

.menu_list strong {
    font-weight: bold;
    color: #003cff;
}

.menu_list strong:hover {
    cursor: pointer;
    color: #b3c4ff;
}

.spn_logout:hover {
    color: #c5c5c5;
    cursor: pointer;
}

/* main */
.login_container {
    margin: 3% auto;
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(170, 170, 170);
}

.login_container h2 {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid #d1d5da;
}

.login_container input {
    width: 80%;
    border-radius: 5px;
    border: 1px solid rgb(170, 170, 170);
    margin: 5px 0;
    padding: 10px 10px;
}

.login_container button {
    all: unset;
    width: 80%;
    border-radius: 5px;
    border: 1px solid rgb(170, 170, 170);
    margin: 5px 0;
    padding: 10px 10px;
    color: white;
    background-color: #df3c47;
    text-align: center;
    margin: 20px 0;
}

.login_container button:hover {
    cursor: pointer;
    background-color: #b33139;
}

.rcolumn_divs {
    overflow-x: auto;
    display: flex;
    height: calc(100% - 32px);
    margin: 16px;
}

.rcolumn {
    min-width: 300px;
    max-width: 300px;
    border-radius: 6px;
    background-color: #eff1f3;
    margin-right: 16px;
    /* overflow: auto; */
    border: 1px solid #e1e4e8;
    display: flex;
    flex-direction: column;
}

.add_rcolumn {
    min-width: 300px;
    max-width: 300px;
    display: block;
    height: fit-content;
    border-radius: 6px;
    border: 3px dashed #e1e4e8;
    background-color: #ffffff;
}

.add_rcolumn button {
    width: 100%;
    padding: 40px 0;
    background-color: #fff;
    border: none;
}
.add_rcolumn button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.add_rcolumn button:focus {
    outline: none;
}

.rcolumn_title {
    padding: 8px;
}

.rcolumn_title .rcolumn_cnt {
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 50%;
    background-color: rgb(212, 212, 212);
    transform: translateY(-2px);
}

.rcolumn_title h2 {
    display: inline;
    font-weight: bold;
    margin-left: 10px;
}

/* .btn_columnTitle {
    all: unset;
    float: right;
    font-size: 20px;
    margin-left: 10px;
}

.btn_columnTitle:hover {
    cursor: pointer;
    color: rgb(201, 201, 201);
} */

.rcolumn_cards {
    flex: auto;
    overflow: auto;
    height: 0;
}

.createCardForm {
    display: flex;
    flex-direction: column;
}

.createCardForm .createCardText {
    flex: auto;
    display: block;
    width: 95%;
    margin: 6px auto;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    padding: 8px;
}

.createCardForm div {
    display: flex;
}

.btn_cardCreate {
    flex: auto;
    color: #ffffff;
    background-color: #2fa14f;
    border-radius: 6px;
    padding: 5px 16px;
    border: none;
    margin-right: 6px;
}

.btn_cardCreate:hover {
    cursor: pointer;
    background-color: #2a9147;
    box-shadow: 0 1px 3px rgba(106, 115, 125, 0.3);
}

.btn_cardDisabled {
    background-color: #bfddc7 !important;
    cursor: not-allowed !important;
    box-shadow: none !important;
}

.btn_cardCancel {
    flex: auto;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 5px 16px;
    border: none;
    border: 1px solid #a7a7a7;
}

.btn_cardCancel:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    box-shadow: 0 1px 3px rgba(106, 115, 125, 0.3);
}

/* card */
.memo_card {
    background-color: #fff;
    margin: 6px 0;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    padding: 8px;
    padding-left: 32px;
    line-height: 1.5;
    position: relative;
}

.draggable:hover {
    cursor: move;
}

.dragging {
    opacity: 0.5;
}

.init_animation {
    animation: showUp 0.5s ease;
}

@keyframes showUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: none;
    }
}

.memo_card:hover {
    border-color: #d1d5da;
    box-shadow: 0 1px 3px rgba(106, 115, 125, 0.3);
}

.card_delete {
    position: absolute;
    top: -2px;
    right: 10px;
    display: inline;
    font-size: 20px;
}

.card_delete:hover {
    color: rgb(216, 216, 216);
    cursor: pointer;
}

.card_author::before {
    font-size: 12px;
    content: 'Add By ';
}
